
.footer .footer_links_course a,
.footer .footer_links_community a,
.footer .footer_links_quick a {
 color:#5D5A6F!important;
 transition: 0.3s all;
}
.footer .footer_links_course a:hover,
.footer .footer_links_community a:hover,
.footer .footer_links_quick a:hover{
    color:	#33CC99!important;
    font-size: 20px;
}
.footer svg {
transition: 0.3s all;
}
.footer svg:hover {
    fill:#33CC99!important;
    padding:0!important;
}
.footer_copyright a{
    color:#33CC99!important;
}